body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.gallery{
    margin-top: 20px;
    padding-top: 20px;
}

.vert-align{
    display: table-cell; vertical-align: middle;
}
.img-gallery{
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}


.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }